// variables
$mobile-padding: 22px;

$navigation-desktop-h: 117px;
$navigation-device-h: 65px;

$font-family: 'Muli';
$font-family-bold: 'Muli';
// $font-family-light: 'ProximaNova-Light';
// $font-family-regular: 'ProximaNova-Light';
// $font-family-bold: 'ProximaNova-Semibold';

$font-family: $font-family, sans-serif;
