.m-page-transition {
  position: fixed;
  top: 0; left: 0;
  z-index: 102;
  display: none;

  svg {
    height: 100vh;
    width: 100vw;
  }
}

.is-transition-active {
  overflow: hidden;
  .m-page-transition {
    display: block;
  }
}