@import 'bulma/sass/utilities/mixins';

.button {
  @include control;
  @include unselectable;
  padding-bottom: 0;
  padding-top: 0;
  letter-spacing: 0.05em;
  font-family: $font-family-bold;
  text-transform: uppercase;
  border-color: transparent;
  min-height: 43px;
  cursor: pointer;
  justify-content: center;
  padding-left: em(45);
  padding-right: em(45);
  text-align: center;
  white-space: nowrap;
  border-radius: 0;

  &:focus,
  &.is-focused {
    box-shadow: 0 0 0 0.125em rgba($color-sunshine-yellow, 0.25);
  }

  &.is-primary {
    background-color: $color-sunshine-yellow;
    border-color: transparent;
    color: $color-charcoal;
    border-radius: 30px;

    &:hover, &:focus, &.is-active {
      background-color: #EDC00A;
    }
  }  

  &.is-underline {
    position: relative;
    background-color: transparent;
    color: $color-white;
    font-size: em(17);
    text-transform: inherit;
    padding-left: 0;
    padding-right: 0;

    &:hover {
      color: $color-charcoal;
      &::after {
        background-color: $color-charcoal;
      }
    }

    &::after {
      content: '';
      left: 0;
      position: absolute;
      bottom: 6px;
      height: 1px;
      width: 100%;
      background-color: $color-white;
    }
  }

  &.is-fullwidth {
    display: flex;
    width: 100%;
  }
}

.is-link {
  position: relative;
  font-family: $font-family-bold;
  font-size: 1rem;
  text-transform: capitalize;
  line-height: 1.9;
  color: $color-saphire-blue;
  display: inline-block;

  &:hover, &.is-active {
    color: $color-midnight-blue;
  }

  &::after {
    content: '';
    left: 0;
    position: absolute;
    bottom: -1px;
    height: 2px;
    width: 100%;
    background-color: $color-saphire-blue;
    // transition: background-color 1s ease-in-out;
  }
  
  &:hover::after {
    background-color: $color-midnight-blue;
  }

}

.is-icon {
  padding-left: 0;
  padding-right: 0;
  
  svg { margin-right: 10px; }

  // span{ margin: auto 0;}

  @include until($desktop) {
    flex: 1 1 auto;
    white-space: normal;
    height: auto;
    align-items: flex-start;
    span { 
      text-align: left;
      width: 100%;
    }
  }
}
